.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
}

.header{
    margin: 50px 0;
}

/* common use */
.common-title{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
.common-sub-title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.common-des{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
}


.banner{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("images/Banner\ Image.png");
    color: white;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 16px;
}

.banner h4{
    font-size: 32px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.banner h2{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 16px;
}
.off{
    width: 1320px;
    margin: 120px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

}
.off h1{
    font-size: 88px;
    color: #FF0000;
    font-weight: bold;
}

.party{
    width: 1320px;
    margin: 120px auto;
    background-image: linear-gradient(90deg,rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    color: white;
    min-height: 600px;
    border-radius: 16px;
}
.party div{
    padding:120px 126px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.party h1{
    font-size: 64px;
    font-weight: 900;
}
.party p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
}
.party h2{
    margin: 24px  0px 0px 32px;
}

.black-color{
    color: #070211;
}

.join-now{
    width: 1320px;
    margin: 120px auto;
    background-image: linear-gradient(180deg,rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%) ;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    color: #FF0000;
}

.join-now h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.join-now button{
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #FF0000;
    border-radius: 8px;
    border: none;
    padding: 16px 32px;
    margin-top: 32px;
}

.coming-soon{
    width: 1320px;
    margin: 120px auto;
    display: flex;
    align-items: center;
}

.holidays-sale{
    width: 1320px;
    margin: 120px auto;
    background-image: url("images/Rectangle\ 2.png"), url(images/Group\ 44.png) ;
    background-repeat: no-repeat;
    background-position: bottom, right center;
    min-height: 600px;
    text-align: center;
    border-radius: 16px;
}

.holidays-sale h2{
    font-size: 72px;
    font-weight: 900;
    color: #FF0000;
    margin: 16px 0 28px 0;
}
