.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
}

.header{
    margin: 50px 0;
    padding: 0 150px;
}

/* common use */
.common-title{
    font-size: 3rem;
    font-weight: bold;
    color: #070211;
}
.common-sub-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FF0000;
}
.common-des{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
}


.banner{
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("images/Banner\ Image.png");
    color: white;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
}

.banner h4{
    font-size: 2rem;
    font-weight: 500px;
    margin-bottom: 16px;
}
.banner h2{
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 16px;
}

main{
    padding: 0 150px;
}

.off{
    max-width: 1320px;
    margin: 120px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

}
.off h1{
    font-size: 5.5rem;
    color: #FF0000;
    font-weight: bold;
}
.off img{
    width: 100%;
}

.party{
    max-width: 1320px;
    margin: 120px auto;
    background-image: linear-gradient(90deg,rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    color: white;
    min-height: 600px;
    border-radius: 16px;
    background-position: center;
}
.party div{
    padding:120px 126px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.party h1{
    font-size: 4rem;
    font-weight: 900;
}
.party p{
    font-size:  1.125rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
}
.party h2{
    margin: 24px  0px 0px 32px;
}

.black-color{
    color: #070211;
}

.join-now{
    max-width: 1320px;
    margin: 120px auto;
    background-image: linear-gradient(180deg,rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%) ;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    color: #FF0000;
}

.join-now h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 56px;
}

.join-now button{
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    background-color: #FF0000;
    border-radius: 8px;
    border: none;
    padding: 16px 32px;
    margin-top: 32px;
}

.coming-soon{
    max-width: 1320px;
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.coming-soon-col-1{
    width: 30%;
}
.coming-soon-col-2{
    width: 50%;
}
.coming-soon-col-2 div{
    border: 15px solid #ff0000; border-radius:50%; padding:48px;
}
.coming-soon-col-3{
    width: 20%;
}

.holidays-sale{
    max-width: 1320px;
    margin: 120px auto;
    background-image: url("images/Rectangle\ 2.png"), url(images/Group\ 44.png) ;
    background-repeat: no-repeat;
    background-position: bottom, right center;
    min-height: 600px;
    text-align: center;
    border-radius: 16px;
}
.holidays-sale h2{
    font-size: 4.5rem;
    font-weight: 900;
    color: #FF0000;
    margin: 16px 0 28px 0;
}

.portfolio{
    max-width: 1320px;
    margin: 120px auto;
}

.portfolio-img{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.portfolio-img img{
    width: 100%;
}

.subscribe{
    max-width: 1320px;
    margin: 120px auto;
    background-color:  rgba(255, 0, 0, .05) ;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 10px;
}


input[type="email"]{
    border-radius: 50px 0 0 50px ;
    font-size: 1.25rem;
    color: rgba(7, 2, 17, .3);
    border: none;
    padding: 25px 150px 25px 30px;

}
input[type="submit"]{
    margin-left: -5px;
    background-color: #FF0000;
    border-radius: 0 50px 50px 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    padding: 24px 56px;
}

.footer{
    background-color: #070211;
    padding: 120px 140px;
}
.footer h1{
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    line-height: 40px;
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
    .header{
        margin: 50px 0;
        padding: 0 50px;
    }
    main{
        padding: 0 50px;
    }
    .coming-soon{
        flex-direction: column;
        text-align: center;
    }
    .coming-soon-col-1{
        width: 100%;
    }
    .coming-soon-col-2{
        width: 100%;
        margin: 50px 0px;
    }
    .coming-soon-col-3{
        width: 100%;
    }
    .portfolio-img{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 576px) {
    *{
        font-size: 11px;
    }
    .header{
        margin: 20px 0;
        padding: 0 20px;
    }
    .banner{
         min-height: 400px;
    }
    main{
        padding: 0 20px;
    }
    .holidays-sale img{
        width: 100%;
        margin-top: 120px;
    }
    .party{
        min-height: 400px;
    }
    .party div{
        padding:50px 56px;
    }
    .join-now{
        min-height: 400px;
    }
    .coming-soon{
        flex-direction: column;
        text-align: center;
    }
    .coming-soon-col-1{
        width: 100%;
    }
    .coming-soon-col-2{
        width: 100%;
        margin: 50px 0px;
    }
    .coming-soon-col-3{
        width: 100%;
    }
 
    .portfolio-img{
        grid-template-columns: repeat(1,1fr);
    }
    input[type="email"]{
        padding: 12px 0px 12px 30px;
    }
    input[type="submit"]{
        padding: 12px 20px;
    }
    .footer{
        padding: 50px 50px;
    }
}